<header class="header" id="header">
    <nav class="navbar container">
        <h2 class="heading-main">Ticket Assigner</h2>
       <!-- <a href="#" class="brand">Ticket Assigner</a> -->
       <div class="burger" id="burger">
          <span class="burger-line"></span>
          <span class="burger-line"></span>
          <span class="burger-line"></span>
       </div>
       <div class="menu" id="menu">
          <ul class="menu-inner">
             <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
             <li class="menu-item"><a href="#" class="menu-link">Feature</a></li>
             <li class="menu-item"><input class="loginButton" type="button"  [routerLink]="['/login']" value="Login"></li>
          </ul>
       </div>
       <button class="switch" id="switch">
          <i class="switch-light bx bx-sun"></i>
          <i class="switch-dark bx bx-moon"></i>
       </button>
    </nav>
 </header>
 <main class="main">
    <section class="section banner banner-section">
       <div class="container banner-column">
          <img class="banner-image" src="../../../assets/TicketAssigner.png" alt="Illustration">
          <div class="banner-inner">
             <h1 class="heading-xl">Automate Your Workflow with Intelligent Ticket Assignment.</h1>
             <p class="paragraph">
                "
                 Our application leverages advanced machine learning models to automatically assign Jira tickets to the right team members. 
                Enhance productivity, streamline task management, and get started today."
             </p>
             <!-- <button class="btn btn-darken btn-inline">
                Get Started<i class="bx bx-right-arrow-alt"></i>
             </button> -->
          </div>
       </div>
    </section>
 </main>